/* calendar */
table.calendar	{ 
    border-left:1px solid #999; 
}
tr.calendar-row	{  
}
td.calendar-day	{ 
    height:80px; 
    font-size:11px; 
    position:relative; 
} 
* html div.calendar-day { 
    height:80px; 
}
td.calendar-day:hover	{ 
    background:lavender; }
td.calendar-day-np	{ 
    background:whitesmoke; 
    min-height:80px; } 
* html div.calendar-day-np { 
    height:80px; }
td.calendar-day-head { 
    background:#8187bd; 
    font-weight:bold; 
    text-align:center; 
    width:120px; 
    padding:5px; 
    border-bottom:1px solid #999; 
    border-top:1px solid #999; 
    border-right:1px solid #999; }
div.day-number		{ 
    background:#8187bd; 
    padding:5px; 
    color:#fff; 
    font-weight:bold; 
    float:right; 
    margin:0 0 50%; 
    width:30px; 
    text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { 
    width:120px; 
    padding:5px; 
    border-bottom:1px solid #999;
    border-right:1px solid #999; }

#cal {
    margin-left: 30%;
    
    
}