/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.06.2014, 11:46:03
    Author     : Sam
*/

#content {
	float: left;
	width: 70%;
	margin-left: 5%;
	margin-top: 5em;
}

.docs {
	display: inline-block;
	width: 49%;
	height: 20em;
}

#dragDropBox {
	width: 25em;
	height: 10em;
	margin: auto;
	border: 2px dashed #333;
	border-radius: 30px;
	text-align: center;
    background-color: #FAFAFA;
    color: #333;
}

#dropWrapper {
    width: 25em;
    margin: auto;
}
#dragDropBox.hover {
    border: 10px dashed #8781BD;
}
#dragDropBox p { 
    margin: 10px; 
    font-size: 14px; 
}

progress { 
    width: 100%;
}
progress:after {
    content: '%'; 
}
.fail { 
    background: #c00; 
    padding: 2px; 
    color: #fff; 
}
.hidden { 
    display: none !important;
}
